# Aliases dotfile
# inspired by https://github.com/addyosmani/dotfiles/blob/master/.aliases

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Navigation shortcuts
alias cddl="cd ~/Downloads"
alias cddt="cd ~/Desktop"
alias cdp="cd ~/Projects"
alias prj="cd ~/Projects"
alias cdpg="cd ~/Projects/github"

# Application shortcuts
alias xcode="open -a '/Developer/Applications/Xcode.app'"
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"
alias safari="open -a safari"
alias firefox="open -a firefox"
alias f='open -a Finder'

# Logger shortcuts
alias log-apache='tail -f /var/log/apache2/error_log'
